@tailwind base;
@tailwind components;
@tailwind utilities;

table thead tr th {
  background-color: #242424;
  color: #ddd;
  padding: 15px 0;
  padding-left: 20px;
}

table thead tr th:first-child {
  border-top-left-radius: 10px;
}

table thead tr th:last-child {
  border-top-right-radius: 10px;
}

table tbody tr td {
  padding: 8px 20px;
  white-space: nowrap;
  @apply uppercase text-gray-800
}

.btn:hover {
  transform: translateY(-3px);
}